.email-item {
    border-top: 1px solid #e8e8e8;
    /* border-bottom: 1px solid #e8e8e8; */
    display: grid; 
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-auto-flow: column;
    align-items: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    letter-spacing: normal;
    
    font-family: 'Roboto', RobotoDraft, Helvetica, Arial, sans-serif;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.email-item:hover {
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.email-item.read {
    background-color: #f2f6fc;
    /* opacity: 0.6; */
    color:#b9baba;
    /* z-index: 1; */
}

.email-subject {
    font-weight: bold;
    flex: 1;
    overflow: hidden; 
    text-overflow: ellipsis;
    text-align: left;
    margin-left: 5px;
}

.email-from{
    flex: 0.5;
    width: max-content;
}

.email-timestamp {
    text-align: center;
}

.email-body-preview{
    text-align: left;
}

.star{
    color: rgb(212, 212, 212);
}

.star span:hover{
    color: rgb(255, 234, 0);
}

/* .email-subject{
        
} */

.email-body-preview{
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    text-align: left;
}


.mail-a-link{
    width: 100%;
}

.mail-preview{
    display: flex;
    align-items: center;
}

.delete-btn {
    position: absolute;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    right: 10px;
    /* font-size: 2; */
}
