 /* mail list */

 * {
     box-sizing: border-box;
 }

 .mails-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style: none;
 }

.mail{
    display: flex;
    align-items: center;
    
}