 /* mail list */

 * {
     box-sizing: border-box;
 }

 .mails-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style: none;
    background: white;
    border-radius: 10px;
    width: 100%;
 }

 .mails-list{
    width: 90vw;
 }

.mail{
    display: flex;
    align-items: center;    
}

