.color-btn {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-inline-end: 2px;
}

/* .note-bgc {
    position: relative;
} */

.color-btn-container {
    display: flex;

}



.color-btn.yellow {
    background-color: #e3e0cc;
    border: 1px solid;
    border-color: #cbbf53;
}

.color-btn.peach {
    background-color: #e4d1d1;
    border: 1px solid;
    border-color: #ecc3c3;
}

.color-btn.purple {
    background-color: #b9b0b0;
    border: 1px solid;
    border-color: #b99a9a;
}

.color-btn.pink {
    background-color: #d3bfdb;
    border: 1px solid;
    border-color: #d2aee0;
}

.color-btn.blue {
    background-color: #77aeae;
    border: 1px solid;
    border-color: #67b0b0;
}

.color-btn.green {
    background-color: #b5e7a0;
    border: 1px solid;
    border-color: #9fec7e;
    ;
}

.color-btn:hover {
    border: 2px solid #202124;
}