 * {
     box-sizing: border-box;
 }

 .notesList {
     display: grid;
     place-items: center;
 }

 .note-container {
     columns: 4 220px;
 }

 .note-self {
     display: grid;
     break-inside: avoid;
     width: 238px;
     border-radius: 5px;
     border: 1px solid lightslategrey;
     margin: 16px;
 }

 .noteChild {
     min-height: 200px;
     justify-content: space-between;
     display: flex;
     flex-direction: column;
     padding: 10px;
 }

 .imgNote {
     width: 100%;
 }


 .edit-note-area {
     display: flex;
     justify-content: space-evenly;

 }

 .edit-note-area button {
     background: none;
     color: inherit;
     border: none;
     padding: 0;
     font: inherit;
     cursor: pointer;
     outline: inherit;
 }

 .note-bgc {
     position: relative;
 }

 .note-bgc-input {
     opacity: 0;
 }

 .note-palette {
     position: absolute;
     left: 0;
 }