 
 
 * {
     box-sizing: border-box;
 }

 .main-layout {
    position: relative;
    background: #f2f6fc;
    display: grid;
    margin: 0 auto;
    padding: 5px;
    font-family: 'Roboto', RobotoDraft, Helvetica, Arial, sans-serif;
    grid-template-columns: auto 1fr;
    height: 100vh;
}